        .input-pink-in-button{
            position: relative;
            z-index: 2;
        }
        .input-pink-in-button>input{
            width: 100%;
            padding: 10px 80px 10px 12px;
            outline: none;
            outline-width: 0;
            border-style: none;
            border-style: solid;
            border-width: 1px;
            border-radius: 7px;
            transition-duration: 500ms;
            transition: all;
        }
        .input-pink-in-button>input:focus{
            width: 100%;
            padding: 10px 80px 10px 12px;
            border-color: rgb(236 72 153);
            border-width: 2px;
        }
        .input-pink-in-button > button{
            position: absolute;
            padding: 8px 16px;
            right: 4px;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgb(236 72 153);
            border-style: none;
            color: #FFF;
            height: inherit;
            transition: all;
            transition-duration: 300ms;
            border-radius: 0.25rem;
            box-shadow: 0px 10px 15px 3px rgba(236, 72, 152, 0.2);
        }
        .input-pink-in-button > button:hover{
            background-color: rgb(236 72 153);
            box-shadow: 0px 10px 15px -3px rgba(236, 72, 152, 0.4);
        }
        .input-pink-in-button>label{
            position: absolute;
            padding: 8px 16px;
            left: 4px;
            top: 50%;
            transform: translateY(-50%);
            border-style: none;
            height: inherit;
            transition: all;
            transition-duration: 300ms;
            border-radius: 0.25rem;
            z-index: 0;
        }