@font-face {
    font-family: '__Poppins_d306d5';
    src: url('path/to/Poppins-Regular.woff2') format('woff2'),
         url('path/to/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '__Poppins_Fallback_d306d5';
    src: url('path/to/Poppins-Fallback.woff2') format('woff2'),
         url('path/to/Poppins-Fallback.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.main-font {
    font-family: '__Poppins_d306d5', '__Poppins_Fallback_d306d5', sans-serif;
}

.margintop-112 {
	margin-top: 112px;
}

.margintop-64 {
	margin-top: 64px;
}

.marginy-64 {
	margin-top: 64px;
	margin-bottom: 64px;
}

.padding-80 {
	padding: 80px;
}

.paddingy-64 {
	padding-top: 64px;
	padding-bottom: 64px;
}

.paddingy-32 {
	padding-top: 32px;
	padding-bottom: 32px;
}

.paddingx-40 {
	padding: 0 40px;
}

.paddingx-32 {
	padding-left: 32px;
	padding-right: 32px;
}

.padding-24 {
	padding: 24px;
}

.paddingx-20 {
	padding-left: 20px;
	padding-right: 20px;
}

@media (max-width: 768px) {
	.paddingy-64 {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.paddingx-32 {
		padding-left: 16px;
		padding-right: 16px;
	}
}

.rounded-05 {
	border-radius: 0.5rem;
}

.max-width-1280 {
	max-width: 1280px;
}

.gap-8rem {
	gap: 8rem;
}

.gap-5rem {
	gap: 5rem;
}

.gap-4rem {
	gap: 4rem;
}

.gap-1rem {
	gap: 1rem;
}

.gap-40 {
	gap: 40px;
}

.gap-20 {
	gap: 20;
}

.gap-12 {
	gap: 12px;
}

.gap-10 {
	gap: 10px;
}

.font-30 {
	font-size: 30px;
}

.font-24 {
	font-size: 24px;
}

.font-20 {
	font-size: 20px;
}

.font-14 {
	font-size: 14px;
}

.home {
	position: relative;
	padding-top: 50px;
	background: linear-gradient(179deg, #e4ecff 1.11%, rgba(234, 240, 255, 0) 103.22%);
}

.semicircle {
	position: absolute;
	height: 98%;
}

.semicircle>img {
	height: 100%;
	opacity: 0.9;
}

.home-main {
	height: 100vh;
	max-width: 1280px;
	margin: auto;
	color: #555555;
}

@media (max-width: 1023px) {
	.title {
		margin-top: 60px;
		font-size: 30px;
	}

	.semicircle {
		display: none;
	}

	.home-main {
		height: auto;
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	.title-box {
		width: 90%;
		margin: auto;
	}
}

.title {
	font-size: 36px;
	color: #1943CC;
	margin: 8px 80px;
}

@media (max-width: 1024px) {
	.home-main {
		height: auto;
	}

	.title {
		margin-top: 80px;
		font-size: 30px;
	}
}

@media (max-width: 768px) {
	.title {
		margin-top: 80px;
		margin-left: 0;
		margin-right: 0;
		font-size: 22px;
	}

	.title-box {
		margin: 0;
	}
}

.demo-btn {
	height: 30px;
	color: #1943CC;
	cursor: pointer;
}

.demo-btn>a {
	color: #1943CC;
	background-color: #4150821A;
	height: 30px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	padding: 4px 24px;
	font-size: 14px;
	border: #1943CC 1px solid;
	border-radius: 2rem;
	text-transform: uppercase;
}

.iframe {
	max-width: 1400px;
	max-height: 368px;
}

.iframe>#container>#canvas {
	width: 1000px !important;
}

#canvas {
	width: 1000px !important;
}

.ai-diagram {
	width: 100%;
	height: auto;
}

@media (min-width: 1024px) {
	.iframe {
		display: block;
	}

	.ai-diagram {
		display: none;
	}
}

@media (max-width: 1023px) {
	.iframe {
		display: none;
	}

	.ai-diagram {
		display: block;
	}
}

.highlight {
	color: #4169e1;
}

.brands {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 32px;
}

.brand-slider {
	position: relative;
	width: 100%;
	height: 144px;
	overflow: hidden;
	background: white;
}

@media (max-width: 1024px) {
	.brand-slider {
		width: 100%;
		height: 128px;
	}
}

@media (max-width: 768px) {
	.brand-slider {
		width: 100%;
		height: 104px;
	}
}

.brand-slider::before,
.brand-slider::after {
	content: "";
	position: absolute;
	top: 0;
	width: 208px;
	height: 100%;
	z-index: 20;
}

.brand-slider::before {
	left: 0;
	background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
}

.brand-slider::after {
	right: 0;
	background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
}

.slide-track {
	display: flex;
	width: calc(200px * 12);
	animation: scroll 60s linear infinite;
}

.slide-track-reverse {
	display: flex;
	width: calc(200px * 12);
	animation: scroll-reverse 60s linear infinite;
}

.slide-track:hover {
	animation-play-state: paused;
}

.slide-track-reverse:hover {
	animation-play-state: paused;
}

.slide {
	width: 208px;
	height: 112px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 8px;
}

.slide-img {
	width: 208px;
	object-fit: contain;
}

@media (max-width: 1024px) {
	.slide {
		width: 160px;
		height: 96px;
	}

	.slide-img {
		width: 160px;
		object-fit: contain;
	}
}

@media (max-width: 768px) {
	.slide {
		width: 112px;
		height: 72px;
	}

	.slide-img {
		width: 150px;
		object-fit: contain;
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-200px * 6));
	}
}

@keyframes scroll-reverse {
	0% {
		transform: translateX(calc(-200px * 6));
	}

	100% {
		transform: translateX(0);
	}
}

.slide-track {
	transition: all 0.3s ease;
}

.products {
	background: linear-gradient(179deg, #fff 3.24%, #e4ecff 53.76%, rgba(234, 240, 255, 0) 103.22%);
}

.title-gradient {
	font-size: 36px;
	padding: 0 12px;
	text-align: center;
	font-weight: bold;
	background: linear-gradient(245deg, #1896bd 11.59%, #542de8 35.77%, #ec276e 59.95%, #d75a00 84.12%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.subtitle {
	font-size: 24px;
	font-weight: 600;
	background: linear-gradient(267deg, #5200ff 4.01%, #ff2df7 114.97%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.returns-title {
	font-size: 24px;
	font-weight: 600;
	background: linear-gradient(267deg, #5200ff 4.01%, #ff2df7 114.97%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.screen-max-768 {
	display: flex;
	flex-direction: row;
	align-items: center;
}

@media (max-width: 768px) {
	.screen-max-768-gap-1rem {
		gap: 4rem;
	}

	.screen-max-768 {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.subtitle {
		font-size: 20px;
	}

	.dashboard-image {
		max-width: 350px;
		height: auto;
	}

	.reverse-1 {
		order: 1;
	}

	.reverse-2 {
		order: 2;
	}
}

.container>div>div {
	max-width: 576px;
}

.subline {
	width: 90%;
	border-top: #D1D5DB solid 0.1px;
}

.testimonials {
	background-image: linear-gradient(to top, #eaf0ff, rgba(234, 240, 255, 0));
}

.testimonial-avatar {
	border-radius: 100%;
}

.technology {
	background-image: linear-gradient(to bottom, #eaf0ff, rgba(234, 240, 255, 0));
}

.technology-card:nth-child(1) {
	border-bottom: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
}

.technology-card:nth-child(2) {
	border-bottom: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
}

.technology-card:nth-child(3) {
	border-bottom: 1px solid #dee2e6;
}

.technology-card:nth-child(4) {
	border-right: 1px solid #dee2e6;
}

.technology-card:nth-child(5) {
	border-right: 1px solid #dee2e6;
}

.technology-card {
	transition: box-shadow 0.3s ease;
	cursor: pointer;
}

.technology-card:hover {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 1024px) {
	.technology-card {
		width: 50%;
	}
}

@media (max-width: 767.98px) {
	.technology-card {
		width: 100%;
		border-right: none;
		border-bottom: 1px solid #dee2e6;
	}
}

.technology-img {
	height: 50px;
	width: 50px;
}

.retailer-card {
	height: 150px;
	width: 100px;
}

.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #F5F5F5;
	border-radius: 12px;
	font-size: 14px;
	padding: 80px;
}

@media (max-width: 1334px) {
	.footer-container {
		display: flex;
		flex-direction: column;
		justify-content: start;
	}
}

@media (max-width: 758px) {
	.footer-container {
		align-items: start;
		padding: 40px;
	}
}

.linkedin {
	height: 24px;
	width: 24px;
}

.location {
	max-width: 300px;
	background-color: #FFFFFF;
}

.copy-right {
	color: #9CA3AF;
	font-size: 14px;
}

.copy-right-link {
	color: #9CA3AF;
	text-decoration: none;
}

.copy-right-link:hover {
	text-decoration: underline;
	color: #9CA3AF;
}

.contact-info p a {
	text-decoration: none;
	color: black;
}

.footer-links {
	display: flex;
	flex-direction: column;
}

.footer-links a {
	text-decoration: none;
	color: black;
}

.top-arrow:hover {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
