.margintop-16 {
	margin-top: 16px;
	margin-bottom: 0;
}

.part1 {
	position: relative;
	background: linear-gradient(179deg, #e4ecff 1.11%, rgba(234, 240, 255, 0) 103.22%);
}

.semicircle {
	position: absolute;
	height: 98%;
}

.semicircle > img {
	height: 100%;
	opacity: 0.9;
}

.navbar {
	height: 80px;
	max-width: 1280px;
	margin: auto;
	padding: 20px 0;
}

.logo {
	color: #415082;
	font-size: 20px;
	font-weight: bold;
}

.logo-img {
	height: 28px;
	width: 28px;
}

.nav-main {
	color: #111827;
	font-size: 16px;
	padding: 0 40px;
	gap: 20px;
}

.nav-link {
	color: #111827;
	font-size: 16px;
	font-weight: bold;
}

.nav-btn-container {
	height: 100%;
	padding: 6px 32px;
	border: #415082 2px solid;
	border-radius: 6px;
	background-color: #4150821A;
}
.nav-btn {
	border: none;
	color: #415082;
	background-color: #ffffff00;
	font-size: 14px;
	font-weight: bold;
}

.part1-main {
	height: 100vh;
	max-width: 1280px;
	margin: auto;
	color: #555555;
}

.title {
	color: #1943CC;
	margin: 8px 80px;
	
}

.paddingx-40 {
	padding: 0 40px;
}

.demo-btn {
	height: 30px;
	color: #1943CC;
}

.demo-btn > button {
	color: #1943CC;
	background-color: #4150821A;
	height: 30px;
	font-size: 14px;
	font-weight: 600;
	padding: 4px 24px;
	font-size: 14px;
	border: #1943CC 1px solid;
	border-radius: 2rem;
	text-transform: uppercase;
}

.iframe {

	max-width: 1400px;
	height: 368;

}
