.partners-container {
  width: 100%;
  padding: 0 0;
  padding: 40px 0;
}

.partners-content {
	margin: 0 40px;
	overflow: hidden;
	border-radius: 25px;
}

.partners-navBtn {
  color: #6E93f7;
  transition: color 0.3s ease;
}

.partners-navBtn:hover {
  color: #4070F4;
}

.partners-navBtn::before,
.partners-navBtn::after {
  font-size: 35px;
}

.partners-button-next {
  right: 0;
}

.partners-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .partners-content {
    margin: 0 10px;
  }

  .partners-navBtn {
    display: none;
  }
}