.retailer-container {
  width: 100%;
  padding: 0 0;
  padding: 40px 0;
}

.retailer-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.retailer-card {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-navBtn {
  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 24px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070F4;
}



.bw-image {
  width: 240px;
  height: 180px;
}

@media (max-width: 768px) {
  .bw-image {
    width: 200px;
    height: 150px;
  }
}

.bw-image {
	filter: grayscale(100%);
}