.slide-container {
  position: relative;
  width: 100%;
  padding: 40px 0;
}

@media (max-width: 768px) {
  .slide-container {
    position: relative;
    padding: 20px 10px;
  }
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: #FFF;
}

.swiper-navBtn {
  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.arrow-next {
  top: 45%;
  right: 20px;
  z-index: +5;
}

.arrow-prev {
  top: 45%;
  left: 20px;
  z-index: +5;
}

@media (max-width: 768px) {
  .arrow-next {
    top: 45%;
    right: 0;
    z-index: +5;
  }
  
  .arrow-prev {
    top: 45%;
    left: 0;
    z-index: +5;
  }
}

.swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070F4;
}

@media (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
}
