.back-to-top-btn {
	display: block;
	position: fixed;
	bottom: 10px;
	right: 20px;
	z-index: 99;
	font-size: 14px;
	border: none;
	outline: none;
	color: black;
	background-color: #ffffff00;
	cursor: pointer;
	padding: 15px;
	border-radius: 50%;
	opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.back-to-top-btn.visible {
    opacity: 1;
    pointer-events: auto;
}

.top-arrow {
	height: 32px;
	width: 32px;
	padding: 4px;
	border: #9f9f9f solid 0.1px;
	border-radius: 50%;
	color: #b9b9b9;
	background-color: white;
}

.back-to-top-text {
	font-weight: bold;
	color: #1F2937;
}

@media (max-width: 768px) { 
	.back-to-top-text {
		display: none;
	}
}